 <div class="container-fluid container-fullw bg-white">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
                                    <thead>
                                        <tr>
                                            <th>Sr No.</th>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th> Unit Price</th>
                                            <th>Unit</th>
                                            <th>Is Available</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td class="center"><img src="assets/images/avatar-4.jpg" class="img-rounded" alt="image"></td>
                                            <td>Potato</td>
                                            <td class="hidden-xs" id="unit-price">
                                                45
                                            </td>
                                            <td class="hidden-xs">
                                                Kg
                                            </td>
                                            <td class="hidden-xs">
                                                <div class="checkbox">
                                                    <input data-switchery="true" style="display: none;" class="js-switch" checked="" type="checkbox">
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="edit-row">
                                                        Edit
                                                    </a></td>
                                            <td>
                                                <a href="#" class="delete-row">
                                                        Delete
                                                    </a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td class="center"><img src="assets/images/avatar-5.jpg" class="img-rounded" alt="image"></td>
                                            <td>Ginger</td>
                                            <td class="hidden-xs">
                                                25
                                            </td>
                                            <td class="hidden-xs">
                                                Kg
                                            </td>
                                            <td class="hidden-xs">
                                                <div class="checkbox">
                                                    <input data-switchery="true" style="display: none;" class="js-switch" checked="" type="checkbox">
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="edit-row">
                                                        Edit
                                                    </a></td>
                                            <td>
                                                <a href="#" class="delete-row">
                                                        Delete
                                                    </a></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td class="center"><img src="assets/images/avatar-4.jpg" class="img-rounded" alt="image"></td>
                                            <td>Tomato</td>
                                            <td class="hidden-xs" id="unit-price">
                                                85
                                            </td>
                                            <td class="hidden-xs">
                                                Kg
                                            </td>
                                            <td class="hidden-xs">
                                                <div class="checkbox">
                                                    <input data-switchery="true" style="display: none;" class="js-switch" checked="" type="checkbox">
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="edit-row">
                                                        Edit
                                                    </a></td>
                                            <td>
                                                <a href="#" class="delete-row">
                                                        Delete
                                                    </a></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td class="center"><img src="assets/images/avatar-4.jpg" class="img-rounded" alt="image"></td>
                                            <td>Onion</td>
                                            <td class="hidden-xs" id="unit-price">
                                                25
                                            </td>
                                            <td class="hidden-xs">
                                                Kg
                                            </td>
                                            <td class="hidden-xs">
                                                <div class="checkbox">
                                                    <input data-switchery="true" style="display: none;" class="js-switch" checked="" type="checkbox">
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="edit-row">
                                                        Edit
                                                    </a></td>
                                            <td>
                                                <a href="#" class="delete-row">
                                                        Delete
                                                    </a></td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td class="center"><img src="assets/images/avatar-4.jpg" class="img-rounded" alt="image"></td>
                                            <td>Palak</td>
                                            <td class="hidden-xs" id="unit-price">
                                                6
                                            </td>
                                            <td class="hidden-xs">
                                                Each
                                            </td>
                                            <td class="hidden-xs">
                                                <div class="checkbox">
                                                    <input data-switchery="true" style="display: none;" class="js-switch" checked="" type="checkbox">
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="edit-row">
                                                        Edit
                                                    </a></td>
                                            <td>
                                                <a href="#" class="delete-row">
                                                        Delete
                                                    </a></td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td class="center"><img src="assets/images/avatar-4.jpg" class="img-rounded" alt="image"></td>
                                            <td>Cabbage</td>
                                            <td class="hidden-xs" id="unit-price">
                                                23
                                            </td>
                                            <td class="hidden-xs">
                                                Each
                                            </td>
                                            <td class="hidden-xs">
                                                <div class="checkbox">
                                                    <input data-switchery="true" style="display: none;" class="js-switch" checked="" type="checkbox">
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="edit-row">
                                                        Edit
                                                    </a></td>
                                            <td>
                                                <a href="#" class="delete-row">
                                                        Delete
                                                    </a></td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td class="center"><img src="assets/images/avatar-4.jpg" class="img-rounded" alt="image"></td>
                                            <td>Green Banana</td>
                                            <td class="hidden-xs" id="unit-price">
                                                35
                                            </td>
                                            <td class="hidden-xs">
                                                Dozen
                                            </td>
                                            <td class="hidden-xs">
                                                <div class="checkbox">
                                                    <input data-switchery="true" style="display: none;" class="js-switch" checked="" type="checkbox">
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="edit-row">
                                                        Edit
                                                    </a></td>
                                            <td>
                                                <a href="#" class="delete-row">
                                                        Delete
                                                    </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>