<header class="navbar navbar-default navbar-static-top">
  <!-- start: NAVBAR HEADER -->
  <div class="navbar-header">
   <!-- <a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
                            <i class="ti-align-justify"></i>
                        </a> -->
  <a class="navbar-brand" href="#">
                            <img src="../../../assets/images/logo.png" alt="Clip-Two"/>
                        </a> 
    <a class="sidebar-toggler pull-right visible-md visible-lg" data-toggle-class="app-sidebar-closed" data-toggle-target="#app" href="#"><i class="ti-align-justify"></i></a> <a class="pull-right menu-toggler visible-xs-block" data-toggle="collapse" href=".navbar-collapse" id="menu-toggler"><span class="sr-only">Toggle navigation</span> <i class="ti-view-grid"></i></a>
  </div>
  <!-- end: NAVBAR HEADER -->
  <!-- start: NAVBAR COLLAPSE -->
   <settings-cmp></settings-cmp>
 
  <!-- end: NAVBAR COLLAPSE -->
</header>